<!doctype html>
<html>
    <header>
        <meta charset="utf-8" />
        <title>About Us</title>
    </header>
    <body>
        <h1>{{pageName}}</h1>
        <p>Some text here!</p>

    </body>
    <footer>
        Copyright @{{copyRightYear}}
    </footer>
</html>