<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8" />
        <title>Maintainance</title>
    </header>
    <body>
        {{ pageName }}
        <p>{{screamIt message}}</p>
    </body>
   
   {{> footer}}

</html>